@import '../Icons/InfoIcon';

.qfa1-tool-tip {
  display: inline-block;

  &__icon:active,
  &__icon:focus {
    outline: none;
  }

  &__hidden {
    opacity: 0;
    top: -9999px;
  }

  .svg__tooltip-info {
    margin: 18px 0 0;
  }

  &__content {
    background: $blue-light;
    font-size: 14px;
    padding: 20px;
    position: absolute;
    width: 330px;
    z-index: setIndex('overlay');
  }

  &__arrow {
    bottom: 0%;
    left: 50%;
    margin: 0 0 -12px 10px;
    position: absolute;
    transform: rotate(180deg);
  }

  &__arrow-left {
    left: 1%;
  }

  &__arrow-right {
    left: auto;
    right: 11px;
  }

  &:hover {
    .svg__tooltip-info__fill {
      fill: $highlight;
    }
  }
}
