$list-item-height: 26px;
$list-item-padding-top-bottom: 10.5px;
$list-min-height: $list-item-height + $list-item-padding-top-bottom * 2;
$list-item-border-length: 1px;
$list-border-length: $list-item-border-length * 2;
$list-item-highlight-left-border: 3px;

$scroll-bar-container-width: 24px;
$scroll-bar-height: 85px;
$scroll-bar-width: $scroll-bar-container-width - 8 * 2;

.qfa1-dropdown-list {

  &__items-container-father {
    position: relative;
    width: 100%;
    z-index: setIndex('overlay');
  }

  &__items-container {
    box-sizing: content-box;
    position: absolute;
    width: 100%;
  }

  &__list {
    border: {
      bottom: solid $list-border-length $grey;
      left: solid $list-border-length $grey;
      right: solid $list-border-length $grey;
    }
    cursor: pointer;
    list-style-type: none;
    margin-top: 0;
    max-height: ($list-min-height + $list-item-border-length) * 5 + $list-border-length;
    overflow-y: auto;
    padding-left: 0;
    top: 0;
    width: 100%;

    &::-webkit-scrollbar {
      -webkit-appearance: none;

      &:vertical {
        width: $scroll-bar-container-width;
      }

      &:horizontal {
        height: $scroll-bar-container-width;
      }

      &-thumb {
        background-color: $grey;
        border-radius: $scroll-bar-container-width;
        box-shadow: 0 0 0 $scroll-bar-width $white inset;
        min-height: $scroll-bar-height;
      }

      &-track {
        background-color: $white;
      }
    }
  }

  &__list-item {
    &:first-child {
      border-top: 0;
    }

    &--selected {

      .qfa1-select & {
        font-weight: $semi-bold;
      }

      background-color: $white;
      border-left: $list-item-highlight-left-border solid $highlight;
      outline: none;
    }

    & div {
      display: table-cell;
      height: $list-item-height;
      vertical-align: middle;
      width: 100%;
    }

    background-color: $grey-light;
    border: {
      left: 3px solid transparent;
      top: solid $list-item-border-length $grey;
    }
    font-size: $main-font-size;
    line-height: 25.5px;
    min-height: $list-min-height;
    padding: {
      bottom: $list-item-padding-top-bottom;
      left: 18px;
      right: 21px;
      top: $list-item-padding-top-bottom;
    }
    position: relative;
    vertical-align: middle;
  }

  &__close-item {
    text-align: center;
  }
}
