.qfa1-arrow-icon {
  &__dropdown {
    cursor: pointer;
    position: absolute;
    right: 13.5px;
    top: 35px;
  }

  path {
    fill: $charcoal;
  }

  &--disabled {
    path {
      fill: $disabled;
    }
  }

  &:hover + .date-picker__calendar-icon {
    .date-picker__calendar-icon-fill {
      fill: $highlight;
  	}
  }
}
