$triangle-outer-length: 10px;
$triangle-inner-length: $triangle-outer-length - 2;

.qfa1-border-triangle {
  &__outer {
    border-bottom: $triangle-outer-length solid $grey;
    border-left: $triangle-outer-length solid transparent;
    border-right: $triangle-outer-length solid transparent;
    left: 50%;
    position: absolute;
    top: 1px;
  }

  &__inner {
    border-bottom: $triangle-inner-length solid $grey-light;
    border-left: $triangle-inner-length solid transparent;
    border-right: $triangle-inner-length solid transparent;
    left: 50%;
    position: absolute;
    top: 4px;
  }
}
