.checkbox-icon {
  display: inline-block;
  margin-right: 8.5px;
  position: absolute;

  &__box {
    margin-bottom: -7px;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__tick {
    left: 0;
    position: absolute;
    top: 0;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__box-border {
    stroke: $grey;

    &--focused {
      @media #{$medium-up} {
        stroke: $highlight;
      }
    }
  }
}
