.svg__classic-rewards {
  background: transparent;

  &__fill  {
    fill: $charcoal;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.qfa1-dropdown-list__list-item  {
  .svg__classic-rewards {
    display: inline-block;
    padding: 4px 10px 0;
    width: 25px;
  }
}
