.svg__clear-button {
  &-circle {
    fill: $white;
  }

  &-cross {
    fill: $charcoal;
    transition: fill .25s ease-out;

    // scss-lint:disable all
    .svg__clear-button:hover & {
      fill: $highlight;
    }

    .qfa1-typeahead__close-button:focus & {
      fill: $highlight;
    }
  }

  &:focus,
  &:active {
    outline: none;
  }
}


