.svg__tooltip-info {
  background: transparent;

  &__fill  {
    fill: $charcoal;
  }

  &:focus,
  &:active {
    outline: none;

    .svg__tooltip-info__fill  {
      fill: $highlight;
    }
  }
}

