/*
From https://codepen.io/terkel/pen/dvejH

Reset default styles for:
  <input type="submit" />
  <input type="reset" />
  <input type="button" />
  <button>
*/

@mixin reset-button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  background: none;
  border: 0;
  color: inherit;
  cursor: default;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
