@import '../InputArea/InputArea';
@import '../Icons/ArrowIcon';
@import '../FormValidation/FormValidationMessage';
@import '../DropdownList/DropdownList';

.qfa1-select {
  &__input {
    cursor: pointer;
  }

  .qfa1-link {

    ~ .qfa1-dropdown-list__items-container-father {
      .qfa1-dropdown-list__list {
        border-top: solid 2px $grey;
        display: inline-block;
        width: auto;
      }
    }

    span {
      border-style: solid;
      border-width: 0 2px 2px 0;
      display: inline-block;
      margin-left: 7px;
      padding: 3px;
      position: relative;
    }

    .down-icon {
      top: -3px;
      transform: rotate(45deg);
    }

    .up-icon {
      top: 1px;
      transform: rotate(-135deg);
    }
  }
}
