.qfa1-radiobutton {
  &__container {
    margin-bottom: 8px;
    min-height: 48px;
    @media #{$medium-up} {
      display: inline-block;
      margin-bottom: 0;
     }
  }

  &__radiogroup {
    border: 0 none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  &__radio,
  &__legend {
    clip: rect(0 0 0 0);
    height: 10px;
    position: absolute;
    width: 10px;
  }

  &__label {
    background-color: $grey-radio-button;
    border: 2px solid $grey-radio-button;
    display: block;
    font-size: $main-font-size;
    padding: {
      bottom: 8px;
      left: 15px;
      right: 15px;
      top: 8px;
    }
    position: relative;

    &--focused {
      border: 3px solid $highlight;
      @media #{$medium-up} {
        border: 0;
      }
    }

    &--disabled {
      border: 3px solid $disabled;
      @media #{$medium-up} {
        border: 0;
      }
    }

    @media #{$medium-up} {
      background-color: transparent;
      border: 2px solid transparent;
      display: inline-block;
      padding-left: 0;

    }
  }

  &__label-text {
    background-repeat: no-repeat;
    background-size: 24px 24px;
    display: inline-block;
    font-size: $main-font-size;
    height: 24px;
    padding-left: 35px;
  }

  .qfa1-radio__radio {
    height: 10px;
    position: absolute;
    width: 10px;
  }

  .radiobutton-icon {
    display: inline-block;
    margin-right: 8.5px;
    margin-top: 2px;
    position: absolute;
  }

  .radiobutton-icon__box {
    margin-bottom: -7px;
  }

  .radiobutton-icon__box:focus,
  .radiobutton-icon__box:active {
    outline: none;
  }

  .radiobutton-icon__check {
    left: 0;
    position: absolute;
    top: 0;
  }

  .radiobutton-icon__check:focus,
  .radiobutton-icon__check:active {
    outline: none;
  }

  .radiobutton-icon__box-border,
  .radiobutton-icon__box-border--focused {
    stroke: $grey;
  }

  .qfa1-tool-tip {
    position: absolute;
  }

  .qfa1-radiobutton__label__hasTooltip {
    padding-right: 5px;
  }

  @media (min-width: 48em) {
    .radiobutton-icon__box-border--focused {
      stroke: $highlight;
      stroke-width: 3;
    }
  }
}
