@import '../InputArea/InputArea';

$icon-bottom: 3px;
$icon-side: 11px;

.qfa1-numberpicker {
  position: relative;
  user-select: none;

  &__plus-icon {
    bottom: $icon-bottom;
    cursor: pointer;
    position: absolute;
    right: $icon-side;

    &:active,
    &:focus {
      outline: none;
    }

    path {
      fill: $charcoal;
    }

    &--disabled {
      path {
        fill: $disabled;
      }
    }
  }

  &__minus-icon {
    bottom: $icon-bottom;
    cursor: pointer;
    left: $icon-side;
    position: absolute;

    &:active,
    &:focus {
      outline: none;
    }

    rect {
      fill: $charcoal;
    }

    &--disabled {
      rect {
        fill: $disabled;
      }
    }
  }

  &__input {
    -moz-appearance: textfield;
    cursor: pointer;
    text-align: center;

    //Remove chrome spinner
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__group {
    &.widget-form__group {
      padding: {
        top: 20px;
      }
      position: relative;
    }

    .qfa1-tool-tip {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 99999;

      .svg__tooltip-info {
        margin: 22px 0 0;
        padding: 0 5px;
      }
    }

  }
}
