$date-picker-mobile-padding-left-right: 15px;
$date-picker-desktop-padding-left-right: 26px;
$date-picker-desktop-calendar-padding-left-right: 18px;
$date-picker-desktop-calendar-items-line-height: 24px;

@mixin calendar-triangle($pointing) {
  $direction: 'left';
  @if $pointing == 'left' {
    $direction: 'right';
  }

  &__calendar-weekdays-items-triangle-pointing-#{$pointing} {
    height: 0;
    overflow: hidden;
    padding: {
      bottom: 50%;
      top: 50%;
      #{$direction}: 50%;
    }

    position: absolute;
    width: 0;
    #{$direction}: 0;


    &:after {
      border: {
        bottom: 500px solid transparent;
        top: 500px solid transparent;
        #{$direction}: 500px solid $highlight;
      };


      content: '';
      display: block;
      height: 0;
      margin: {
        top: -500px;
        #{$direction}: -500px;
      };
      width: 0;
    }
  }
}

.date-picker {
  &__input {
    background: $white;
    cursor: pointer;
  }

  &__disabled {
    opacity: .5;
  }

  &__dropdown {
    background-color: $grey-light;
    border: 2px solid $grey;
    box-sizing: border-box;
    left: 0;
    margin-top: 9px;
    position: absolute;
    width: 100%;
    z-index: setIndex('overlay');

    @media #{$medium-up} {
      margin: {
        left: $gutter;
        right: $gutter;
      }
      width: calc(100% - #{2 * $gutter});
    }
  }

  &__dropdown-wrapper {
    padding: {
      bottom: 31px;
      left: $date-picker-mobile-padding-left-right;
      right: $date-picker-mobile-padding-left-right;
      top: 20px;
    };

    @media #{$medium-up} {
      padding: {
        left: $date-picker-desktop-padding-left-right;
        right: $date-picker-desktop-padding-left-right;
      }
      width: calc(100% - #{2 * $gutter});
    }
  }

  &__triangle-container-father {
    position: relative;
    z-index: setIndex('overlay') + 1;
  }

  &__triangle-container {
    margin-top: -2px;
    position: absolute;
    width: 100%;
  }

  &__calendar {
    box-sizing: border-box;
    width: 100%;

    @media #{$medium-up} {
      padding: 0 18px;
      width: 50%;
    }
  }

  &__calendar-container {
    display: flex; // welcome to 2012
  }

  &__calendar-table {
    border-collapse: collapse;
    width: 100%;

    td {
      background-clip: padding-box;
    }
  }

  &__calendar-icon-fill {
    fill: $charcoal;
  }

  &__input:hover + .date-picker__calendar-icon,
  &__calendar-icon:hover {
    .date-picker__calendar-icon-fill {
      fill: $highlight;
    }

    .date-picker__calendar-icon__disabled {
      fill: $charcoal;
    }
  }

  &__calendar-icon {
    cursor: pointer;
    display: inline;
    margin-top: 15px;
    position: absolute;
    right: 17px;

    &:focus {
      outline: none;
    }
  }

  &__calendar-star {
    bottom: 4px;
    height: 16px;
    left: calc(50% - 8px);
    position: absolute;
    text-align: center;
    width: 16px;
  }

  &__calendar-heading {
    font-size: $label-font-size;
    font-weight: $semi-bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    th {
      padding-bottom: 20px;
    }
  }

  &__calendar-weekday-headings {
    border-bottom: 1px solid $grey;
    border-spacing: 40px;
    color: $charcoal;
    font-size: $label-font-size;
    line-height: 17px;
    padding-bottom: 10px;

    th {
      font-weight: 500;
      padding-bottom: 10px;
      text-transform: capitalize;
    }
  }

  &__calendar-heading-padding {
    height: 10px;
    width: percentage(1/7);
  }

  &__calendar-weekdays-items-content {
    border: 2px solid transparent;
    box-sizing: border-box;
    height: 100%;
    padding-top: calc(50% - #{$date-picker-desktop-calendar-items-line-height / 2});
    position: absolute;
    text-align: center;
    width: 100%;
  }

  &__calendar-weekdays-items--hovered &__calendar-weekdays-items-content {
    border: 2px solid $highlight;
  }

  &__calendar-weekdays-items {
    background-color: $white;
    border: 1px solid $grey-light;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: percentage(1/7);

    &:active,
    &:focus {
      outline: none;
    }

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &--selected {
      background-color: $shallow-highlight;
    }

    &--in-range {
      background-color: $shallow-highlight;
    }

    &--disabled {
      cursor: default;
    }

    &--disabled:not(&--in-range) {
      background-color: $grey;
    }
  }

  @include calendar-triangle('right');

  @include calendar-triangle('left');

  &__calendar-weekdays-items-text {
    position: relative;
  }

  &__calendar-weekdays-items-star {
    position: relative;
  }

  &__arrow {
    cursor: pointer;
    height: 24px;
    position: absolute;

    &:focus {
      outline: $highlight solid 2px;
    }
  }

  &__arrow-right {
    right: $date-picker-mobile-padding-left-right;

    @media #{$medium-up} {
      right: $date-picker-desktop-padding-left-right + $date-picker-desktop-calendar-padding-left-right;
    }
  }

  &__arrow-left {
    left: $date-picker-mobile-padding-left-right;

    @media #{$medium-up} {
      left: $date-picker-desktop-padding-left-right + $date-picker-desktop-calendar-padding-left-right;
    }
  }

  &__legend {
    display: flex;
    flex-direction: row-reverse;
  }

  &__legend-star {
    flex: 0 1 auto;
    order: 1;
  }

  &__legend-text {
    flex: 0 1 auto;
    order: 0;
    padding: 0 20px 0 5px;
  }
}
