$dropdown-border-length: 2px;

.qfa1-dropdown {
  background-color: $grey-light;
  border: {
    bottom: solid $dropdown-border-length $grey;
    left: solid $dropdown-border-length $grey;
    right: solid $dropdown-border-length $grey;
  }
  padding: 0 15px 15px;
  position: relative;
  user-select: none;
  width: 100%;
  z-index: setIndex('overlay');
}
