@import '~com.qantas.global-variables/index';
@import '../utils/RenderComponent';
@import '../grid/unit';
@import '../grid/breakpoint';

$gutter: 15px;
$highlight: #90e2df;
$shallow-highlight: rgba(144, 226, 222, 0.4);
$error-border: rgba(150, 150, 150, 0);
$disabled: #cccccc;
$semi-bold: 600;
$white: #ffffff;

@mixin qfa1-arrow-icon () {
  &__arrow-icon {
    position: absolute;
    cursor: pointer;
    top: 35px;
    right: 25.5px;
  }
}

.widget-form__element--hidden {
  display: none;
}