@import './global.scss';

$blue-light: lightblue;

.tooltip-center-offset {
  margin: 80px 0 0 200px;
}

.tooltip-left-offset {
  margin: 80px 0 0 20px;
}

.tooltip-right-offset {
  margin: 80px 0 0 370px;
}

@import '../../scss/Tooltip/Tooltip.scss';
