$error-color-intense: $orange !default;

.qfa1-input {
  appearance: none; /* For ios devices / any native styles */
  border: 2px solid $grey;
  border-radius: 0; /* For ios devices */
  box-sizing: border-box;
  color: $charcoal;
  font-size: $main-font-size;
  height: 48px;
  line-height: 25.5px;
  padding: {
    bottom: 12px;
    left: 14px;
    right: 35px;
    top: 10.5px;
  }
  width: 100%;

  &::-ms-clear {
    display: none;
  }

  &:focus {
    border-color: $highlight;
    box-shadow: 0 0 0 1px $highlight inset;
    outline: none;
  }

  &--validation-error {
    border-color: $error-color-intense;
    outline: none;
  }
}

.widget-form__group--label-inline {
  position: relative;

  .widget-form__label {
    color: $steel;
    font-size: 16px;
    max-width: 92%; // When inline, we do not want the label to hit right at the edge of the input
    overflow: hidden;
    padding-left: 14px;
    padding-right: 10px;
    /* ^ Used for the calculation in InputArea.js. This padding-right makes sure there's enough space between label and input text as label's whole width including padding is calculated determine the <input> left padding... */
    padding-top: 12px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
