@import '../globals';

.qfa1-link {
  color: $highlight;
  transition: color 0.2s;

  &:hover {
    color: $red-earth;
    text-decoration: none;
  }

  &:active {
    color: $maroon;
  }

  .svg__link-icon {
    float: right;
  }

}
