@import '../mixins/screenReaders';

.form-validation-summary {
  background-color: $orange-light;
  border: 2px solid $orange-light; /* So doesn't jitter between focus / non-focused state */

  margin-top: 32px;

  @media #{$medium-up} {
    margin: {
      left: $gutter;
      right: $gutter;
    }
  }

  padding: 15.5px 17px;

  &--show-for-sr-only {
    @include show-for-sr-only;
  }

  &:focus {
    border: 2px solid $highlight;
    box-shadow: 0 0 0 1px $highlight inset;
    outline: none;
  }

  &__title {
    /* font-size: $main-font-size; */
    font-size: 19px; /* @todo Decide on desired font size. For now, setting to 19px to fix 18px Medium looking really bad on Windows screens. https://jira.qantas.com.au/browse/QRPLAT-2965?focusedCommentId=410079&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-410079 */
    padding-left: 25px;
  }

  &__item {
    font-size: $label-font-size;
  }

  &__list {
    margin: 0;
    padding: {
      left: 40px;
      top: 6.5px;
    };
  }

  &__icon {
    //padding-right: 25px;
    float: left;
    vertical-align: middle;
  }
}
