.form-validation-message {
  float: left;
  position: relative;
  width: 100%;

  &__container {
    padding-top: 9px;
    position: relative;
  }

  &__text {
    background-color: $orange-light;
    border: .5px solid $error-border;
    font-size: $label-font-size;
    min-height: 40px;
    padding: {
      bottom: 11px;
      left: 15.5px;
      right: 15.5px;
      top: 11px;
    }
  }
}
