.qfa1-checkbox {
  &__container {
    background-color: $grey-light;
    border: 2px solid $grey-light;
    min-height: 48px;
    padding: {
      bottom: 10px;
      left: 15px;
      right: 15px;
      top: 10px;
    }

    &--focused {
      border: 2px solid $highlight;
      @media #{$medium-up} {
        border: 0;
      }
    }

    @media #{$medium-up} {
      background-color: transparent;
      border: 0;
      padding-left: 0;
    }
  }

  &__label {
    font-size: $main-font-size;
    position: relative;
  }

  &__label-text {
    background-repeat: no-repeat;
    background-size: 24px 24px;
    display: inline-block;
    font-size: $main-font-size;
    height: 24px;
    margin-top: -1px;
    padding-left: 35px;
  }

  &__checkbox {
    height: 10px;
    position: absolute;
    width: 10px;

    &:focus {
      outline: none;
    }
  }
}
