$error-color-intense: $orange !default;

@mixin dark-theme {
  background-color: $charcoal;

  .widget-form__label,
  .ql-login-widget__label {
    font-size: $label-font-size;
  }

  .qfa1-link,
  .qfa1-checkbox__label-text,
  .qfa1-radiobutton__label-text {
    color: $white;
  }

  .widget-form__label {
    color: $white;
  }

  .widget-form__group--label-inline {
    .widget-form__label {
      color: $steel;
    }
  }

  .svg__tooltip-info__fill,
  .svg__link-icon__fill {
    fill: $white;
  }

  .qfa1-input {
    border-color: $white;

    &:focus {
      border-color: $highlight;
    }

    &--validation-error {
      border-color: $error-color-intense;
    }
  }

  .qfa1-radiobutton {
    &__label {
      background-color: $charcoal;
      border-color: $charcoal;

      &--focused {
        border-color: $highlight;

        @media (min-width: 48em) {
          border-color: $charcoal;
        }
      }
    }

    .radiobutton-icon__box-border {
      stroke: $white;

      &--focused {
        stroke: $white;

        @media (min-width: 48em) {
          border-color: $white;
        }
      }
    }
  }

  .qfa1-checkbox__container {
    background-color: $charcoal;
    border-color: $charcoal;

    &--focused {
      border-color: $highlight;
    }

    .checkbox-icon__box-border {
      stroke: $white;
    }
  }

  @media (min-width: 48em) {
    .qfa1-checkbox__container {
      .checkbox-icon__box-border--focused {
        stroke: $highlight;
      }
    }

    .qfa1-radiobutton {
      .radiobutton-icon__box-border--focused {
        stroke: $highlight;
      }
    }
  }

  .qfa1-ffLogin_container {
    color: $white;
  }

  .date-picker__input {
    background-color: $white;
  }

  .date-picker__dropdown,
  .qfa1-dropdown-list__items-container {
    .widget-form__label,
    .qfa1-checkbox__label-text,
    .qfa1-radiobutton__label-text {
      color: $charcoal;
    }

    .svg__tooltip-info__fill {
      fill: $charcoal;

      &:hover {
        fill: $highlight;
      }
    }

    .qfa1-tool-tip:hover {
      .svg__tooltip-info__fill {
        fill: $highlight;
      }
    }

    .qfa1-link {
      color: $charcoal;
      text-decoration: underline;
    }

    .qfa1-input {
      border-color: $grey;

      &:focus {
        border-color: $highlight;
      }
    }

    .qfa1-checkbox__container {
      background-color: transparent;
      border-color: transparent;

      .checkbox-icon__box-border {
        stroke: $grey;

        &--focused {
          stroke: $grey;
        }
      }
    }

    .qfa1-radiobutton {
      .radiobutton-icon__box-border {
        stroke: $grey;

        &--focused {
          stroke: $grey;
        }
      }
    }

    @media (min-width: 48em) {
      .qfa1-checkbox__container {
        .checkbox-icon__box-border--focused {
          stroke: $highlight;
        }
      }

      .qfa1-radiobutton {
        .radiobutton-icon__box-border--focused {
          stroke: $highlight;
        }
      }
    }
  }

  // Loyalty Form - May have to use important due to QL css containing important overrides
  .qfa1-ffLogin_container {
    a {
      color: $white;
    }

    .ql-login-widget {
      color: $white;
    }

    .ql-login-input {
      border-color: $white !important;

      &:focus {
        border-color: $highlight !important;
      }
    }

    .checkbox-icon__box-border {
      stroke: $white;

      &--focused {
        stroke: $highlight;
      }
    }
  }
}
