.qfa1-typeahead {
  &__close-button {
    cursor: pointer;
    display: inline;
    margin-top: 13px;
    position: absolute;
    right: 15px;

    &:active,
    &:focus {
      outline: none;
    }
  }

  &--disabled {
    opacity: .5;
  }
}
