@import './SpinKit';

.qfa1-loading-indicator {
  .loader__icon {
    // Override absolute positioning. Probably worth making the default "relative" in the future
    position: relative;
  }

  @include sk-three-bounce  ;
}
