// These styles are also defined in loader.scss in global-ui. However, some projects do not
// include the global-ui CSS (e.g. QBR Portal)

// Adapted from 7-three-bounce SCSS - https://github.com/tobiasahlin/SpinKit

$spinkit-spinner-margin: auto;
$spinkit-size: 1.5rem;
$spinkit-spinner-color: #767676;
$spinkit-animation-duration: 1.4s;
$spinkit-delay-range: .32s;

@mixin sk-three-bounce {
  .sk-three-bounce {
    margin: $spinkit-spinner-margin;
    text-align: center;
    width: $spinkit-size * 2;

    .sk-child {
      animation: sk-three-bounce $spinkit-animation-duration ease-in-out infinite both;
      background-color: $spinkit-spinner-color;
      border-radius: 100%;
      display: inline-block;
      height: $spinkit-size / 2;
      width: $spinkit-size / 2;
    }

    .sk-bounce1 { animation-delay: -$spinkit-delay-range; }
    .sk-bounce2 { animation-delay: -$spinkit-delay-range / 2; }
  }
}

@keyframes sk-three-bounce {
  from { transform: scale(0); }
  40% { transform: scale(1); }
  80% { transform: scale(0); }
  to { transform: scale(0); }
}

// End 7-three-bounce
