.RenderComponent {
  margin: 0 auto;
  width: 1000px;

  &__Component {
    position: relative;
    margin: 20px 0;
  }

  &__Highlight {
    border: 1px solid;
  }

  &__Button {
    display: block;
    font-size: 20px;
    width: 200px;
    margin: 20px 0;
  }
}
