.qfa1-submit-button {
  &__container-right {
    &.widget-form__group-container {
      float: right;
    }
  }

  &__button {
    appearance: none;
    background-color: $red;
    border: 0;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    font-size: $label-font-size;
    font-weight: $semi-bold;
    height: 48px;
    letter-spacing: 1.5px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .2s;
    width: 100%;

    &:hover,
    &:focus {
      background-color: $red-earth;
      outline: none;
    }

    &:active {
      background-color: $maroon;
      outline: none;
    }
  }
}
