$collapse-button-width: 83px;

.qfa1-collapsible__container {
  .qfa1-collapsible__button-container {
    display: inline-block;
    padding-top: 22.5px;
    vertical-align: top;
    width: $collapse-button-width + ($gutter * 2);

    .widget-form__group-container {
      padding-top: 0;
    }

    .qfa1-submit-button__button {
      &::after,
      &::before {
        backface-visibility: hidden;
        background: $white;
        content: '';
        display: inline-block;
        height: 3px;
        width: 8px;
      }

      &::before {
        transform: rotate(45deg) translateX(-1px) translateY(-8px);
      }

      &::after {
        transform: rotate(-45deg) translateX(0) translateY(-4px);
      }
    }
  }

  .qfa1-collapsible__content-container {
    display: inline-block;
  }

  &--collapsed {
    .qfa1-collapsible__content-container {
      display: inline-block;
      transition: none;
      width: calc(100% - #{$collapse-button-width + ($gutter * 2)});
    }
  }

  &--expanded {
    .qfa1-collapsible__content-container {
      transition: width .3s cubic-bezier(.45, .05, .55, .95);
      width: 100%;
    }
  }
}
